.content {
  width: 100%;
}

.notes,
.plans {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

.notes .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.notes textarea {
  width: 100%;
  height: 150px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  resize: vertical;
  box-sizing: border-box;
}

.notes button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.notes button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.notes button:hover:not(:disabled) {
  background-color: #45a049;
}

.notes p {
  background-color: #ffffff;
  border-left: 5px solid #4caf50;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.notes p:nth-child(even) {
  border-left-color: #2196f3;
}

.notes p:last-child {
  margin-bottom: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  margin: 10px 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab.active {
  background-color: #4caf50;
  color: white;
}

.tab:hover {
  background-color: #d3d3d3;
}

/* Section Styling */
.notes,
.studyPlan {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.generate {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generate:hover {
  background-color: #45a049;
}

.plan {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.planTitle {
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.agenda {
  font-family: Verdana;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  padding-left: 10px;
  border-left: 4px solid #4caf50; /* Add a green border to the agenda text for emphasis */
}

@media (max-width: 768px) {
  .plans {
    padding: 15px;
    max-width: 100%;
  }

  .plan {
    padding: 15px;
  }

  .planTitle {
    font-size: 18px;
  }

  .agenda {
    font-size: 14px;
  }
}
