.navbar {
  width: 100%;
  background-color: #1976d2;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.linkSection {
  width: 200px;
  height: 50px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  color: #e3f2fd;
}
